.jumbotron {
    background-color: yellow;
    color: black;
    margin-top: 50px;
}

footer {
    padding: 10px 10px 0 10px;
    background-color: yellow;
    margin-bottom: 0;
    margin-top: 15px;
}

.card-hotel {
    flex: 1 200px; 
    margin: 0px 2px 5px 2px;
    
}

.btn-reservar {
    width: 100%;
}

.btn-collapse {
    width: 100%;
    margin-bottom: 2px;
}