$yellow: #ecdd00;
$red: red;
$green: green;

@mixin margenes ($top, $bottom){
    margin-top: $top;
    margin-bottom: $bottom;
}

.jumbotron {
    background-color: $yellow;
    color: black;
    @include margenes(50px, 10px)
}

footer {
    padding: 10px 10px 0 10px;
    background-color: $yellow;
    @include margenes(15px, 0)
}

.card-hotel {
    flex: 1 200px; 
    margin: 0px 2px 5px 2px;
    
}

.btn-reservar {
    width: 100%;
}

.btn-collapse {
    width: 100%;
    margin-bottom: 2px;
}