.jumbotron {
  background-color: #ecdd00;
  color: black;
  margin-top: 50px;
  margin-bottom: 10px; }

footer {
  padding: 10px 10px 0 10px;
  background-color: #ecdd00;
  margin-top: 15px;
  margin-bottom: 0; }

.card-hotel {
  flex: 1 200px;
  margin: 0px 2px 5px 2px; }

.btn-reservar {
  width: 100%; }

.btn-collapse {
  width: 100%;
  margin-bottom: 2px; }
